* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #160835;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #b64141;
    border: 1px solid #248021;
    border-radius: 5px;
    cursor: move;
}

.card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.card span {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.card.dragging {
    opacity: 0.5;
}